<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1>New Kegs</h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @kegs.object %>"/>
      <table>
          
            <tr>
                <td class="itemLabel">Name: </td>
                <td class="itemValue"><input type="text" name="kegs[name]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Image url: </td>
                <td class="itemValue"><input type="text" name="kegs[image_url]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Keg volume size ml: </td>
                <td class="itemValue"><input type="text" name="kegs[keg_volume_size_ml]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Keg volume remaining ml: </td>
                <td class="itemValue"><input type="text" name="kegs[keg_volume_remaining_ml]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Keg volume spilled ml: </td>
                <td class="itemValue"><input type="text" name="kegs[keg_volume_spilled_ml]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Status: </td>
                <td class="itemValue"><input type="text" name="kegs[status]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Url: </td>
                <td class="itemValue"><input type="text" name="kegs[url]"/></td>
            </tr>
          
      </table>
      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
